/* CSS Document */
/* Site */
body {
  background-image: url('background.jpg');
	color: #C0BEBE;
	font-size: 24px;
	font-family: Open Sans;
	font-weight: 300;
	line-height: 1.7em;
	letter-spacing: 0px;
}

a {
	text-decoration: none;
}

#header {
	padding: 20px;
	position: relative;
	text-align: center;
	width: 100%;
	display: block;
}

#headerInfo {
	vertical-align: middle;
	text-align: center;
}

.site-title {
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1em;
	font-size: 50px;
	text-align: center;
	display: block;
	margin: 0 auto 8px;
}

.site-title a {
	color: #C0BEBE;
}

#header .logo a:hover,
#header nav a:hover,
#header nav .active-link a {
	color: #C0BEBE;
}

#navBlock nav {
	width: auto;
	text-align: center;
	margin: 0;
	padding: 28px 0;
	display: block;
}

#navBlock nav ul {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#navBlock nav ul li {
	display: inline-block;
	text-align: center;
}

#navBlock nav ul li a {
	padding: 0 .8em;
	color: #666;
}

#pageWrapper {
	text-align: center;
}

#footer {
	color: #777;
	text-align: center;
}

/* Slideshow */
.mySlides {
  display: none
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 310px;
  width: auto;
  padding: 50px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* About */
#about {
/* background-image: url('background.jpg'); */
  background-color: #010101;
  height: 920px;
  margin-top: 50px;
}

#code {
/*  margin-top:150px;*/
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#console {
  width: 670px;
  padding: 40px;
  height: 620px;
  margin: 0 auto;
  background: #2b2a2a;
}

span.answer {
  color:#ccc;
}

#about p {
  text-align: center;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #C0BEBE;
  font-size: 14px;
  text-transform: uppercase;
}

/* Education */
#education p {
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #C0BEBE;
  font-size: 14px;
  text-transform: uppercase;
  border-color: #C0BEBE;

}

#education {
  height: auto;
  margin: 0px;
  margin-top: -60px;
  padding-top: 60px;
  font-size: 20px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

#education.inner {
  width:700px;
}

.right {
  float: right;
}

#education ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* Experience */
#experience p {
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #C0BEBE;
  font-size: 14px;
  text-transform: uppercase;
  border-color: #C0BEBE;
}

#experience {
  height: auto;
  margin: 0px;
  margin-top: -90px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 20px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

#experience.inner {
  width:700px;
}

#experience {
  height: auto;
  margin: 0px;
  margin-top: -60px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 20px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

/* Projects */
#projects p {
  text-align: center;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #C0BEBE;
  font-size: 14px;
  text-transform: uppercase;
}

#projects #code {
/*  margin-top:150px;*/
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#projects #console {
  width: 670px;
  padding: 40px;
  height: 700px;
  margin: 0 auto;
  background: #2b2a2a;
}


.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 18px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.skill:hover {
  background-color: #57bbd0;
  color: #fafafa;
}

/* Icons */
.inner {
  max-width: 1024px;
  margin: 0 auto;

}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -80px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;

}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

/* tagline */
.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 11px;
  text-transform: uppercase;
}

.section-tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC8C8;
  font-size: 11px;
  text-transform: uppercase;
}

/* Social */
.social-links {
	font-size: 20px;
}

.social-icon {
	margin: 6.5px 6.5px 6.5px;
	color: #999;
	-webkit-transition: all 170ms ease-in-out;
	-moz-transition: all 170ms ease-in-out;
	-o-transition: all 170ms ease-in-out;
	transition: all 170ms ease-in-out;
}

.social-icon:first-of-type {
	margin-left: 0 !important;
}

.social-icon:hover {
	color: #595959;
}
